h1, h2, p {
  margin: 0;
  padding: 0;
}
.project-section {
  height: 1000px;
  
}

.project-header{
  border-top: 1px solid #4C4C4A;
  display: flex;
  height: 392px;
  padding: 0px 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;

}

.project-header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;

  border-left: 1px solid #4C4C4A;
  border-right: 1px solid #4C4C4A;

  .header-divider{
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #4C4C4A;
  }
}


.header-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .header-title{
    color: #F4F2E7;
    font-family: Bayon;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height:1.2;
    
    #title-alive{
      font-family: "Space Mono";
    }
  }


}